<nav class="bg-gray-800 p-4">
    <div class="container mx-auto">
      <div class="flex justify-between">
        <div class="text-white">Star Wars API Explorer</div>
        <div>
          <a href="/" class="text-white pr-4">Home</a>
          <a href="/people" class="text-white pr-4">People</a>
          <a href="/planets" class="text-white pr-4">Planets</a>
         <a href="/starships" class="text-white pr-4">Starships</a>
         <a href="/vehicles" class="text-white pr-4">Vehicles</a>
         <a href="/starships" class="text-white pr-4">Starships</a>
         <!-- Add more links for other categories here -->
        </div>
      </div>
    </div>
  </nav>